
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos</title>
  <link rel="stylesheet" href="main.css"/>
</head>

<body>
  
  <div id="itemapp">
    
    <header>
      <h1>Items</h1>
      <input id="new-item" type="text" placeholder="Add something?">
    </header>

    <section id="main">
      <ul id="item-list"></ul>
    </section>

    <footer>
      <div id="item-count"></div>
    </footer>
    
  </div>
  
  <div id="instructions">
    Click to edit a item.
  </div>

  <script src="json2.js"></script>
  <script src="jquery.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="backbone-min.js"></script>
  <script src="backbone.localStorage.js"></script>
  <script src="main.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <label><%= title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%= title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <div class="item-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> total</div>
  </script>

  </body>
</html>
